.top-bar {
  padding : 0px;
  margin : 0px;
  background-color: white;
  @media screen and (max-width: 39.9375em) {
    background-color: #134a8d;
  }

  .desktopHeader {
    position: relative;
    .column {
      padding : 0em;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #134a8d;
        text-align: center;

    }

    li {
      display: inline-block;

    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .headerLogo {

    }
    .headerSearch {
      background-color: #ccebf7;
      text-align: center;
      a {
        position:relative;
        top:0.6em;
      }
    }
    
    #find-us-on-fb{
        width: 70%;
    }


  }

  .title-bar-left {
    .title-bar-title {
      margin-left: 0.5em;
      height: 57px;
      font-size: 17px;
      color: white;
      margin-top: 10px;
    }
  }
}
