#mppf-home {
  h2 {
    text-align: center;
  }

  .headline-text{
      font-size: 20px;
  }


  #mppf-home-jobIntro {
    img {
      display: block;
      margin: 0 auto;
    }
    h6 {
      text-align: center;
    }
    p {
      text-align: left;
      height: 150px;
    }
    .callout{
      height: 370px;
      background-color: transparent;
    }
  }

  //Story
  #mppf-home-story {
      img{
          width: 100%;
      }
      .description{
          background-color: #1583cc;
          height: 120px
      }
      .story-card{
          padding: 20px;
      }
    // div {

    //   border-style:none;
    //   section {
    //     padding : 8em 0 0 0;
    //     background: url("../../image/test/story1.png") no-repeat center center ;
    //     -webkit-background-size: cover;
    //     -moz-background-size: cover;
    //     -o-background-size: cover;
    //     background-size: cover;

    //     .callout {

    //       opacity:0.95;
    //       background-color: #3498db;
    //       h5 {
    //         text-align: center;
    //       }
    //       h5,p {
    //         color:black;
    //       }
    //     }
    //   }
    // }
    clear :both;
  }

  //Contact
  #mppf-home-contactus {
    background: #3498db;
    margin-bottom: 0em;
    form {
      input[type="submit"] {
        float:right;
      }
    }
  }

  //Global
  .callout {
    border-style:none;
  }

  .know-more{
    color:blue;
    
  }

  #home-video{
    margin:2em 0em;
  }
}
