#mppf-naviStory{

  h1 {
    text-align: center;
  }

  article {
    text-align: center;

    section {
      background: white;
      max-width: 15em;
      display: inline-block;
      margin-top: 1em;
      margin-right: 1em;

      img {
        width: 200px;
        height: 200px;
      }
    }
  }

  .story-title{
    color:black;
  }

  #mppf-naviStory-modal {
    padding: 0em;
    overflow-x : hidden;
    .row {
      text-align: center;
      background-color: #ccebf7;
      p {
          position: relative;
          width: 90%;
          margin-right: 1em;
      }
    }
    img {
      width: 100%;
      padding: 0em;
      margin: 0em;
    }
  }
}
