#mppf-recruitment {
  margin: 1em 0em;

  .recruitment-search {
    background-color: #134a8d;
    height :5em;
    padding-top: 1.4em;
    padding-left: 2em;

    input[type="text"] {
      max-width: 40%;
      display: inline;
      margin-right: 1em;
    }
    input[type="submit"] {
      max-width: 20%;
      margin-left: 1em;
      padding: 0.5em 1em;
      background-color: #62b1f6;
      color:white;
      border: none;

    }

    select{
      display: inline;
      max-width: 30%;
    }
  }

    .mppf-recruitment-list {
      margin-left: 0;
      list-style-type: none;
    }

    .mppf-recruitment-employee {
      margin: 1em 0em;
      background: #ccebf7;

      .mppf-recruitment-employee-right {
        ul {
          list-style: none;
        }
      }

      .mppf-recruitment-employee-left {
        background: #134a8d;
        color : white;
        img {
            margin: 0.5em 0em;
        }
      }

    }


}
