#mppf-recentNews{
  
  h1 {
    text-align: center;
  }
  .column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: left;
  }

  article {
    text-align: center;
    max-width:80%;
    margin: 0 auto;
    section {
      background: #00B5E7;
      width: 18em;
      display: inline-block;
      margin-left : 1.5em;
      margin-top: 1em;
      padding: 0px;
      img {
        height : 10em;
        padding: 5px;
      }

      p {
        padding: 0em 1em;
        height:10em;
      }
    }
  }

  .read-more{
    color:white
  }
  .post-date{
    color:black
  }
  .post-title{
    margin-top: 1em;
  }

}
