//Page
@import '_home';
@import '_recruitment';
@import '_recentNews';
@import '_naviStories';
@import '_faq';
@import '_aboutUsPage';
@import '_resources';

//Component
@import 'components/newsFeed';
@import 'components/avatar';
@import 'components/newsHeader';

//Layout
@import '_header';
@import '_footer';

$blue : #3498db;

//General
#app{
  margin-bottom: 0em;
}

.off-canvas-list {
    list-style-type: none;
}

.breakline {
  margin: 1em 0em;
  border: 2px solid $blue;
}

h1 {
    text-align: center;
}

article{
	margin-bottom: 1em;
}
