$blue : #2980b9;
#mppf-news-feeds {
  margin: 2em 0em;
  ul {
    border : 1px solid $blue;
    list-style: none;
    margin-left: 0;
    li {
      border : 2px solid $blue;
      div {
        img {
          max-width: 8em;
        }

      }

      h4 {
          font-size: 26px;
          color:$blue;
          text-align: center;
      }

    }
  }
  img{
    width: 88px;
    height: 88px;
    padding: 0px;
    background-image: white;
  }

  .row{
    margin-left: 15px;
    margin-right: 15px;
  }

  .fb-container {
    text-align: center;
    .fb-page {
      width: auto 0;
    }
  }

  .news-feed-content{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 20px;
    max-height: 60px;
  }

}
