$nav-blue : #134a8d;
$target-width : 640px;
#mppf-news-header{
	background: $nav-blue;
	

	img{
		margin-top: 20px;
		margin-bottom: 20px;
		width: 88px;
		height: 88px;
		padding: 0px;
		background: white;
	}

	.news-title{
		color: white;
    	font-size: 18px;
	}
	.news-post-date{
		color: white;
	    font-size: 14px;
	}

	#title-text{
		margin-top: 37.5px;
	}
}

@media screen and (min-width : $target-width) {
	  #mppf-news-header{
		background: $nav-blue;
		margin-top:2em;
		img{
			margin-top: 20px;
			margin-bottom: 20px;
			width: 88px;
			height: 88px;
			padding: 0px;
		}

		.news-title{
			color: white;
	    	font-size: 18px;
		}
		.news-post-date{
			color: white;
		    font-size: 14px;
		}

		#title-text{
			margin-top: 37.5px;
		}
}
}